__pycache__/
.pytest_cache/
.terraform/
*.env
myenv
new_env
.venv

# Local .terraform directories
**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

lambda_function.zip

# Ignore the layer dependencies directory
functions/appointment-booking/layer/

# If you have other layers or build directories
**/layer/
**/build/